# VDX Config for connecting to the database
vdxConfig=VDX.config

# Data File Data Row definition
datarow=TIMESTAMP,CHANNEL,so2,so2stddev,windspeed,winddir,samples
#headerlines=2

# Timestamp Definition.  Should conform to Java SimpleDateFormat
timestamp=yyyy-MM-dd HH:mm:ss
#timezone=GMT

# Channel Definitions
channel=EASTRIFT
EASTRIFT.name=Kilauea East Rift
EASTRIFT.lon=19.389
EASTRIFT.lat=-155.107

channel=SUMMIT
SUMMIT.name=Kilauea Summit
SUMMIT.lon=19.425
SUMMIT.lat=-155.270

# Rank Definition
rank=raw
raw.name=Raw Data
raw.value=1
raw.default=1

# Data Source Definition
dataSource=hvo_gas_so2

# Data Source Columns
hvo_gas_so2.columns=so2,so2stddev,windspeed,winddir,samples

# Data Source Column Definitions
hvo_gas_so2.so2.idx=1
hvo_gas_so2.so2.description=SO2
hvo_gas_so2.so2.unit=Tons/Day
hvo_gas_so2.so2.checked=1
hvo_gas_so2.so2.active=1

hvo_gas_so2.so2stddev.idx=2
hvo_gas_so2.so2stddev.description=SO2 Std Dev
hvo_gas_so2.so2stddev.unit=N
hvo_gas_so2.so2stddev.checked=0
hvo_gas_so2.so2stddev.active=1

hvo_gas_so2.windspeed.idx=3
hvo_gas_so2.windspeed.description=Wind Speed
hvo_gas_so2.windspeed.unit=m/s
hvo_gas_so2.windspeed.checked=0
hvo_gas_so2.windspeed.active=1

hvo_gas_so2.winddir.idx=4
hvo_gas_so2.winddir.description=Wind Direction
hvo_gas_so2.winddir.unit=degrees
hvo_gas_so2.winddir.checked=0
hvo_gas_so2.winddir.active=1

hvo_gas_so2.samples.idx=5
hvo_gas_so2.samples.description=Samples
hvo_gas_so2.samples.unit=N
hvo_gas_so2.samples.checked=0
hvo_gas_so2.samples.active=1