# database driver
vdx.driver=com.mysql.jdbc.Driver

# database connection strings
vdx.url=jdbc:mysql://localhost/?user=vdx&password=vdx

# database name prefix for all things valve3
vdx.vdxPrefix=v3

# logLevel=1 little bit, logLevel=2 lots of logging
vdx.logLevel=2

# port that vdx listens on, and that valve connects to vdx on
vdx.port=16050

# default is 5
vdx.handlers=5

# max connections from vdx connection
vdx.maxConnections=50