#------------------------------------------------------------------
# VDX Application Configuration 
#
# All blank lines and lines that begin with '#' are ignored.
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#------------------------------------------------------------------

# vdx.driver: database driver
vdx.driver=com.mysql.jdbc.Driver

# vdx.url: database connection strings
vdx.url=jdbc:mysql://localhost/?user=???&password=???

# vdx.prefix: database name prefix for all things valve3
vdx.prefix=v3

# vdx.logLevel: amount of logging
#     logLevel=1 little bit, logLevel=2 lots of logging
vdx.logLevel=2

# vdx.port: port that vdx listens on, and that valve connects to vdx on
vdx.port=16050

# vdx.handlers: default is 5
vdx.handlers=5

# vdx.maxConnections: max connections from vdx connection
vdx.maxConnections=50
