source=ys_nwis
ys_nwis.class=gov.usgs.vdx.data.nwis.SQLNWISDataSource
ys_nwis.description=YVO NWIS
ys_nwis.vdx.host=localhost
ys_nwis.name=V
ys_nwis.vdx.databaseName=yvo


source=ak_ewrsam
ak_ewrsam.class=gov.usgs.vdx.data.rsam.SQLEWRSAMDataSource
ak_ewrsam.description=Earthworm RSAM
ak_ewrsam.vdx.host=localhost
ak_ewrsam.name=V
ak_ewrsam.vdx.databaseName=avo

source=ak_ewrsamCount
ak_ewrsamCount.class=gov.usgs.vdx.data.rsam.SQLEWRSAMDataSource
ak_ewrsamCount.description=Earthworm RSAM Values
ak_ewrsamCount.vdx.host=localhost
ak_ewrsamCount.name=V
ak_ewrsamCount.vdx.databaseName=avo