#------------------------------------------------------------------
# Valve3 Data Configuration 
#
# All blank lines and lines that begin with '#' are ignored.
#
# Otherwise, all configuration entries are of the format:
#    [key]=[value]
#------------------------------------------------------------------

# deformation data sources
source=hvo_deformation_gps
hvo_deformation_gps.class=gov.usgs.vdx.data.gps.SQLGPSDataSource
hvo_deformation_gps.description=GPS Solutions
hvo_deformation_gps.vdx.name=hvo_deformation_gps

source=hvo_deformation_tilt
hvo_deformation_tilt.class=gov.usgs.vdx.data.tilt.SQLTiltDataSource
hvo_deformation_tilt.description=Tilt Data
hvo_deformation_tilt.vdx.name=hvo_deformation_tilt

source=hvo_deformation_strain
hvo_deformation_strain.class=gov.usgs.vdx.data.generic.fixed.SQLGenericFixedDataSource
hvo_deformation_strain.description=Strain Data
hvo_deformation_strain.vdx.name=hvo_deformation_strain

# seismic data sources
source=hvo_seismic_hypocenters
hvo_seismic_hypocenters.class=gov.usgs.vdx.data.hypo.SQLHypocenterDataSource
hvo_seismic_hypocenters.description=Hypocenters
hvo_seismic_hypocenters.vdx.name=hvo_seismic_hypocenters

source=hvo_seismic_winston_waveforms
hvo_seismic_winston_waveforms.class=gov.usgs.winston.db.vdx.VDXWaveSource
hvo_seismic_winston_waveforms.description=Winston Waveforms
hvo_seismic_winston_waveforms.driver=com.mysql.jdbc.Driver
hvo_seismic_winston_waveforms.url=jdbc:mysql://???/?user=???&password=???
hvo_seismic_winston_waveforms.prefix=W

source=hvo_seismic_winston_helicorders
hvo_seismic_winston_helicorders.class=gov.usgs.winston.db.vdx.VDXHelicorderSource
hvo_seismic_winston_helicorders.description=Winston Helicorders
hvo_seismic_winston_helicorders.driver=com.mysql.jdbc.Driver
hvo_seismic_winston_helicorders.url=jdbc:mysql://???/?user=???&password=???
hvo_seismic_winston_helicorders.prefix=W

source=hvo_seismic_winston_rsam
hvo_seismic_winston_rsam.class=gov.usgs.winston.db.vdx.VDXRSAMSource
hvo_seismic_winston_rsam.description=Winston RSAM
hvo_seismic_winston_rsam.driver=com.mysql.jdbc.Driver
hvo_seismic_winston_rsam.url=jdbc:mysql://???/?user=???&password=???
hvo_seismic_winston_rsam.prefix=W

# gas data sources
source=hvo_gas_co2
hvo_gas_co2.class=gov.usgs.vdx.data.generic.fixed.SQLGenericFixedDataSource
hvo_gas_co2.description=CO2 Data
hvo_gas_co2.vdx.name=hvo_gas_co2
